DATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/ls_street?retryWrites=true&w=majority"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=